body {
  /* background-color: forestgreen; */
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  background: forestgreen;
}

.num-output {
  display: none;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* #again {
  position: relative;
  overflow: hidden;
  cursor: pointer;
} */


button:hover{
  left: 0;
  background: #ff904f;
  border: 2px outset #fa7d34;
}
